<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-body">
                        <canvas id="myChartBar" class="report report_custom"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-body">
                        <canvas id="myChartLine" class="report report_custom"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <canvas id="myChartRadar" class="report"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>